body {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f5f5f5;
  color: #333;
  word-spacing: 3px;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #333;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

mark {
  background: yellow;
}

header {
  padding: 20px 0;
  margin-bottom: 15px;
}

.top-header section {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.top-header p {
  font-size: 20px;
}

nav {
  text-align: center;
}

nav li {
  float: none;
  display: inline-block;
}

nav li a {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: #44484d;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto 50px;
  padding: 0 20px;
  width: 100%;
}

section.content {
  width: 78%;
  background: #fff;

}

aside {
  width: 20%;
  padding-left: 7px;
  background: #fff;
}

article {
  padding: 10px 20px;
}

time {
display: block;
  text-align: right;
}

figure {
  margin: 5px auto 15px;
}

figcaption {
  margin-top: 2px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: grey;
}

footer {
  padding-top: 30px;
  background: #333;
  color: #fff;
}

footer a {
  height: 10px;
  line-height: 100px;
  color: #fff;
}

address {
  display: block;
  text-align: center;
}
